-spacing=3
-height=10
-width=100
-x=5
-y=5
-#="drawHorizontalPower(5,5,100,20,.75,'peripheralName')"
-@power.each_with_index do |power, index|
  =showPower(x,y+(index*(height+spacing)),width,height,power)