-spacing=3
-height=10
-width=100
-x=5
-y=50
-#="drawHorizontalPower(5,5,100,20,.75,'peripheralName')"
-@tanks.each_with_index do |tank, index|
  =showTank(x,y+(index*(height+spacing)),width,height,spacing,tank)